---

---

<footer
  class=
>
  <img src="/octopus.svg" alt="octopus" class="w-full"/>
  <div class="grid h-60 grid-flow-col grid-cols-3 place-content-center items-center px-10 text-center text-white bg-[#0c0c0c] -mt-5 pb-8">
    <div class="flex items-center justify-center">
      <img class="block w-[96px]" src="/sparkhacks-logo.svg" alt="logo" />
    </div>
    <div>
      <div>SparkHacks 2025</div>
      <a class="underline" href="mailto:sparkhacks@uic.edu"
        >sparkhacks@uic.edu</a
      >
      <div class="mt-5">Made with 💖 by the SparkHacks team</div>
    </div>
    <div class="flex flex-col place-items-center">
      <p class="pb-2 font-semibold">Follow Us</p>
      <div class="flex flex-row gap-4">
        <a
          class="cursor-pointer"
          target="_blank"
          href="https://www.instagram.com/sparkhacksuic/"
        >
          <img src="/instagram.png" class="w-6" />
        </a>
        <a
          class="cursor-pointer"
          target="_blank"
          href="https://github.com/SparkHacks"
        >
          <img src="/github.png" class="w-6" />
        </a>
        <a
          class="cursor-pointer"
          target="_blank"
          href="https://www.linkedin.com/company/sparkhacks/"
        >
          <img src="/linkedin.png" class="w-6" />
        </a>
      </div>
    </div>
  </div>
</footer>
