---

---

<footer
  class= "bg-gradient-to-b from-[#14183f] to-[#181642] pt-20"
>
  <div class="w-full relative">
    <img src="/octopus1.svg" alt="octopus" class="w-full block"/>
    <img src="/footer-fish1.svg" alt="fish" class="w-[7%] absolute block top-[20%] left-[25%] animate-bob-sway-med"/>
    <img src="/footer-fish2.svg" alt="fish" class="w-[2.5%] absolute block top-[30%] right-[25%] animate-bob-sway-fast"/>
  </div>
  <div class="grid h-60 grid-flow-col grid-cols-3 place-content-center items-center px-10 text-center text-white bg-[#0c0c0c] -mt-5 pb-8">
    <div class="flex items-center justify-center">
      <img class="block w-[96px]" src="/sparkhacks-logo.svg" alt="logo" />
    </div>
    <div>
      <div>SparkHacks 2025</div>
      <a class="underline" href="mailto:sparkhacks@uic.edu"
        >sparkhacks@uic.edu</a
      >
      <div class="mt-5">Made with 💖 by the SparkHacks team</div>
    </div>
    <div class="flex flex-col place-items-center">
      <p class="pb-2 font-semibold">Follow Us</p>
      <div class="flex flex-row gap-4">
        <a
          class="cursor-pointer"
          target="_blank"
          href="https://www.instagram.com/sparkhacksuic/"
        >
          <img src="/instagram.png" class="w-6" />
        </a>
        <a
          class="cursor-pointer"
          target="_blank"
          href="https://github.com/SparkHacks"
        >
          <img src="/github.png" class="w-6" />
        </a>
        <a
          class="cursor-pointer"
          target="_blank"
          href="https://www.linkedin.com/company/sparkhacks/"
        >
          <img src="/linkedin.png" class="w-6" />
        </a>
      </div>
    </div>
  </div>
</footer>
