---
const links = [
  { name: 'HackPack', href: '#' },
  { name: 'About', href: '#about' },
  { name: 'Schedule', href: '#schedule' },
  { name: 'Sponsors', href: '#sponsors' },
]
---

<header 
  class="header fixed z-30 w-full flex flex-row items-center justify-end backdrop-blur-sm
  bg-gradient-to-b from-[#041D33] to-[#fff0] px-8 py-9 text-white"
>
  <ul class="flex space-x-11">
    {
      links.map((link) => (
        <li class = "flex content-center flex-wrap font-bold">
          <a href={link.href}>{link.name}</a>
        </li>
      ))
    }
    <li class="apply">
      <a href="#apply">Apply</a>
    </li>
  </ul>
</header>

<style>
  .apply {
    text-align: center;
    width: 110px;
    border-radius: 12px;
    padding: 8px;
    background-color: #092e41;
    font-weight: bold;
  }

  .apply > a {
    width: 100%;
  }

  li > a {
    font-size: clamp(0.8rem, 2vw, 1.6rem);
  }
</style>
