---
const links = [
  { name: 'HackPack', href: '#' },
  { name: 'About', href: '#about' },
  { name: 'Schedule', href: '#schedule' },
  { name: 'Sponsors', href: '#sponsors' },
]
---

<header
  class="header absolute z-40 w-full flex flex-row items-center justify-between bg-transparent px-4 py-2 text-white"
>
  <div class="text-lg">
    <img class="header-logo" src="./logo-med.png"/>
  </div>
  <ul class="flex flex-row gap-10">
    {
      links.map((link) => (
        <li>
          <a href={link.href}>{link.name}</a>
        </li>
      ))
    }
    <li class="apply">
      <a href="#apply">Apply</a>
    </li>
  </ul>
</header>

<style>
  .header-logo {
    height: 100px;
    box-sizing: border-box;
    margin: 20px 0 0 20px;
  }
  .apply {
    text-align: center;
    width: 110px;
    border-radius: 12px;
    padding: 8px;
    background-color: #092E41;
    font-weight: bold;
  }

  .apply > a {
    width: 100%;
  }

  li {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    font-weight: bold;
  }

  li > a {
    font-size: clamp(0.8rem, 2vw, 1.6rem);
  }
</style>
