---

---

<div
  class="hero sticky flex flex-col h-[calc(100vh-44px)] w-full place-content-center items-center text-white"
>
  <div>
    <h1 class="text-5xl font-bold">SparkHacks 2025</h1>
    <p class="float-right text-xl pt-[5px]">Feb 30th - 31st</p>
  </div>

  <div class="pt-[20px]">
    <button class="mr-[10px]">Learn More</button>
    <button>Apply</button>
  </div>
  
</div>

<style>

  .hero {
    background: linear-gradient(160deg, #0880CA 24.6%, #7DFFF4 92.52%);
  }

  button {
    width: 110px;
    border-radius: 12px;
    padding: 8px;
    background-color: #092E41;
    font-weight: bold;
  }
</style>
