---

import Counter from '../components/Countdown';
import whale from '../../public/whale/Whale.svg';
import robot from '../../public/whale/Robot.svg';
import rock from '../../public/whale/right-rock.svg';
---

<section class="min-h-screen w-full content-center text-white 
bg-gradient-to-b from-[#014E6F] to-[#041D33] relative" id="information">
  <div class="break-group">
    <div class="whale-group">
      <img class="whale" src={whale.src} />
      <img class="whale-robot" src={robot.src} />
    </div>
    <img class="right-rock" src={rock.src} />
  </div>

  <div class="flex my-10 justify-center gap-28">
    <div class="flex-col flex" id="countdown">
      <div class="flex justify-center gap-10">
        <div class="flex animate-bounce" id="chest"></div>
        <h1 class=" text-center font-poppin lg:text-[50px] 
        text-3xl font-bold">
          Opening In...</h1>
        </div>
    <Counter client:load/>
  </div>

  <div class="flex-col flex gap-[25px] justify-center">
    <h1 class=" text-white text-center font-poppin lg:text-[50px] 
    text-3xl font-bold">Resources & FAQ</h1>
    <a href=" https://www.notion.so/HackPack-2025-16c1bf81ade280e9b4f6ea19a572a181?pvs=4" target="_blank" class="mt-5 bg-[url('../faqback.svg')] backdrop-blur-[19.5px] h-[100px] w-[300px] flex justify-center items-center flex-col ">
      <h1 class="text-white text-md font-poppin">Click to view</h1>
      <h1 class="text-white text-2xl font-poppin">Hack Pack</h1>
    </a>
  </div>
 
  </div>
  
</section>

<style>
  #chest {
   background: url('../chest.svg'); 
   width: 75px;
   height: 75px;
   background-repeat: no-repeat;
   background-size: 75px;
  }

  .break-group {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .whale-group {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 60%;
  }

  .whale {
    position: relative;
    width: 40%;
    left: -4%;
  }

  .whale-robot {
    position: relative;
    width: 10%;
  }

  .right-rock {
    width: 25%;
    right: 5%;
  }

  </style>