---
import Counter from '../components/Countdown'
import whale from '../../public/whale/Whale.svg'
import robot from '../../public/whale/Robot.svg'
import rock from '../../public/whale/right-rock.svg'
---

<section
  class="flex justify-center pb-28 bg-[#014E6F] text-white"
  id="information"
>
   <!-- <div class="break-group relative">
    <div class="whale-group">
      <img class="whale animate-bob-sway-slow" src={whale.src} />
      <img class="whale-robot animate-bob-sway-med" src={robot.src} />
    </div>
    <img class="right-rock" src={rock.src} />
  </div> -->

  <div class="flex flex-wrap gap-x-20 gap-y-28 desktop:container px-[10%] desktop:px-[2%] " id="counter-faq">
    
    <div class="flex-auto" id="countdown">
      <div class="flex justify-center items-center">
        <h1 class="animate-bounce text-5xl mr-4">🌊</h1>
        <h1 class="font-poppin text-center text-5xl font-bold">
          Making Waves In...
        </h1>
      </div>
      <Counter client:load />
    </div>

    <div class="flex-auto ">
      <div class="flex justify-center items-center">
        <h1 class="text-5xl mr-4">🚧
        </h1>
        <h1
          class="font-poppin text-center text-5xl font-bold text-white "
        >
          Resources
        </h1>
      </div>

      <div class="flex justify-center">
        <a
        href="https://example.com"
        target="_blank"
        class="mt-5 flex h-[120px] w-[300px] flex-col items-center justify-center bg-[url('../faqback.svg')] backdrop-blur-[19.5px]"
        >
          <!-- <h1 class="text-lg font-poppin text-white">Click to view</h1> -->
          <h1 class="font-poppin text-3xl text-white">Under Construction</h1>
        </a>
      </div>
    </div>
  </div>
</section>


<!-- <style>

  #chest {
    background: url('../chest.svg');
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-size: 75px;
  }

  .whale-group {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 60%;
  }

  .whale {
    position: relative;
    width: 40%;
    left: -4%;
    /* animation: bob 20s ease-out 0s infinite, sway 15s ease-in-out 1s infinite; */
  }

  .whale-robot {
    position: relative;
    width: 10%;
    /* animation: bob 10s ease-out 1s infinite, sway 4s ease-in-out 0s infinite; */
  }

  .right-rock {
    width: 25%;
    right: 5%;
  }
</style> -->
