---
import Counter from '../components/Countdown'
import whale from '../../public/whale/Whale.svg'
import robot from '../../public/whale/Robot.svg'
import rock from '../../public/whale/right-rock.svg'
---

<section
  class="relative w-full content-center bg-gradient-to-b from-[#014E6F] to-[#114372] text-white"
  id="information"
>
  <div class="break-group">
    <div class="whale-group">
      <img class="whale animate-bob-sway-slow" src={whale.src} />
      <img class="whale-robot animate-bob-sway-med" src={robot.src} />
    </div>
    <img class="right-rock" src={rock.src} />
  </div>

  <div class="relative z-10 my-10 flex flex-wrap justify-center gap-28">
    <div class="flex flex-col" id="countdown">
      <div class="flex justify-center gap-10">
        <div class="flex animate-bounce" id="chest"></div>
        <h1 class="font-poppin lg:text-[50px] text-center text-3xl font-bold">
          Opening In...
        </h1>
      </div>
      <Counter client:load />
    </div>

    <div class="flex flex-col">
      <div class="flex flex-row gap-[10px]">
        <h1 class="lg:text-[50px] animate-bounce text-5xl">📝</h1>
        <h1
          class="font-poppin lg:text-[50px] text-center text-3xl font-bold text-white mb-[40px]"
        >
          Resources & FAQ
        </h1>
      </div>

      <a
        href=" https://www.notion.so/HackPack-2025-16c1bf81ade280e9b4f6ea19a572a181?pvs=4"
        target="_blank"
        class="mt-5 flex h-[100px] w-[300px] flex-col items-center justify-center bg-[url('../faqback.svg')] backdrop-blur-[19.5px]"
      >
        <h1 class="text-md font-poppin text-white">Click to view</h1>
        <h1 class="font-poppin text-2xl text-white">Hack Pack</h1>
      </a>
    </div>
  </div>
</section>

<style>
  .grid-cols-2 {
    grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
  }

  #chest {
    background: url('../chest.svg');
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-size: 75px;
  }

  #paper {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
  }

  .break-group {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .whale-group {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 60%;
  }

  .whale {
    position: relative;
    width: 40%;
    left: -4%;
    /* animation: bob 20s ease-out 0s infinite, sway 15s ease-in-out 1s infinite; */
  }

  .whale-robot {
    position: relative;
    width: 10%;
    /* animation: bob 10s ease-out 1s infinite, sway 4s ease-in-out 0s infinite; */
  }

  .right-rock {
    width: 25%;
    right: 5%;
  }
</style>
