---
import MySwiper from '../components/MySwiper.jsx'
---

<section
  class="flex flex-col items-center pb-28 bg-[#114372] text-white"
>
  <div class="flex place-content-center items-center px-[10%] pb-10">
    <h1 class="text-5xl font-bold"> ✨ Photos!</h1>
  </div>

  <div class="container px-[5%]">
    <MySwiper client:load />
  </div>
</section>

<style>
  .swiper-slide-active {
    background-color: red;
  }
</style>


