---

import Sponsor from '../components/Sponsor';

---

<section class="w-full content-center text-white bg-gradient-to-b from-[#0a1b37] to-[#0c1b39]" id="sponsors">
    <h1 class="z-[1] flex h-full w-full flex-row items-center justify-center gap-5 pt-20 text-4xl font-bold text-white md:flex-row mb-[40px]">
    Sponsors
    <div class="flex animate-bob-sway-med" id="pink-jelly"></div></div>
  </h1>
  <Sponsor client:load/>
  </section>
  
  <style>


#pink-jelly {
   background: url('../pinkjelly.svg'); 
   width: 75px;
   height: 75px;
   background-repeat: no-repeat;
   background-size: 75px;
   /* animation: swim 4s infinite; */
}

/* @keyframes swim {
  0% {
    transform: translateY(0px) translateX(0) rotate(-5deg);
  }
  10%{
    transform: translateY(-30px) translateX(0) rotate(-10deg);
  }
  15%{
    transform: translateY(-40px) translateX(-40px) rotate(-10deg);
  }
  25%{
    transform: translateY(-38px) translateX(-80px) rotate(-10deg);
  }
  35%{
    transform: translateY(-50px) translateX(-120px) rotate(-10deg);
  }
  45%{
    transform: translateY(-50px) translateX(-200px) rotate(-10deg);
  }
  50%{
    transform: translateY(-40px) translateX(-240px) rotate(-15deg);
  }
  60%{
    transform: rotateY(180deg) translateY(-40px) translateX(-240px) rotate(-15deg);
  }
  100% {
    transform: translateY(0px) translateX(0) rotate(-30deg);
  } 
 } */
  </style>
  