---

---
<section class="flex flex-col items-center bg-[#114372] text-white pt-20  px-[10%] desktop:px-[0%]" id="workshops">
    <div class="flex place-content-center items-center px-[10%] pb-10">
      <h1 class="text-5xl font-bold text-center">🔨 Pre-Hack Workshops</h1>
    </div>

    <div class="flex flex-col desktop:flex-row justify-center gap-x-10 desktop:container gap-y-10 desktop:px-[2%] px-[15%]">
        <div class= "flex-1 flex flex-col justify-center items-center py-10 px-8 bg-top bg-no-repeat bg-cover bg-[url('../schedback.svg')]">
            <h1 class="text-[6rem]">🚧</h1>
            <h1 class="text-4xl font-bold text-center">Git Gud or Git Out</h1>
            <h2 class="text-xl text-[#53B8F4]">ARC</h2>
            <h2 class="text-2xl ">Febuary 4th</h2>
            <h2 class="text-2xl ">Time TBD</h2>
            <h3 class="text-lg mt-2">Equip yourself with the foundational knowledge of Git, learn to set up repositories, and gain a hands-on experience in collaborative version control.
            </h2>
        </div>
        <div class= "flex-1 flex flex-col justify-center items-center py-10 px-8 bg-top bg-cover bg-cover bg-[url('../schedback.svg')]">
            <h1 class="text-[6rem]">🚧</h1>
            <h1 class="text-4xl font-bold text-center">Overthinking? Just React!</h1>
            <h2 class="text-xl text-[#53B8F4]">ARC</h2>
            <h2 class="text-2xl ">Febuary 5th</h2>
            <h2 class="text-2xl ">Time TBD</h2>
            <h3 class="text-lg mt-2">Achieve a foundational understanding of React and collaboratively build a simple React web development project.</h2>
            </div>
        <div class= "flex-1 flex flex-col justify-center items-center py-10 px-8 bg-top bg-cover bg-cover bg-[url('../schedback.svg')]">
            <h1 class="text-[6rem]">🚧</h1>
            <h1 class="text-4xl font-bold text-center">Tango with Django</h1>
            <h2 class="text-xl text-[#53B8F4]">ARC</h2>
            <h2 class="text-2xl ">Febuary 6th</h2>
            <h2 class="text-2xl ">Time TBD</h2>
            <h3 class="text-lg mt-2">Dive into the backend development with Django! In this workshop, you'll learn to set up Django project, manage databases/models, and create API.</h2>
        </div>
    </div>
  

  </section>
  